@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

img {
  max-width: 100%;
  vertical-align: middle;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.row {
  max-width: 1170px;
  border: 0px solid #fff;
  margin: 0 auto;
}

#header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: #fff;
}

#header h1 {
  float: left;
  padding: 10px 0;
}
#header #nav {
  float: right;
}

#header #nav .depth1 {
  float: right;
}
#header #nav .depth1 > li {
  float: left;

  font-size: 17px;
  font-weight: 600;
  position: relative;
}
#header #nav .depth1 > li > a {
  display: block;
  height: 91px;
  line-height: 91px;
  padding: 0 25px 0 25px;
  position: relative;
}
#header #nav .depth2 {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: #fff;
  width: 147px;

  display: none;
}

#header #nav .depth1 > li:hover .depth2 {
  display: block;
  color: #fff;
  background: #fff;
}

#header #nav .depth2 > li {
  border: 1px solid #f3f3f3;
}
#header #nav .depth2 > li:hover {
  border: 1px solid #000;
}
#header #nav .depth2 > li > a {
  display: block;
  font-size: 13px;
  color: gray;
  padding: 10px 30px 10px 30px;
  background: #fff;
  transition: all 0.1s;
}
#header #nav .depth2 > li > a:hover {
  display: block;
  padding: 10px 30px 10px 30px;
  background: #000;
  color: #fff;
}
#section .slide {
  position: relative;

  height: 94vh;
  background: url(../image/main02.jpg) center / cover;
  background-repeat: no-repeat;
}
#section .slide .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
#section .slide .text h2 {
  font-size: 34px;
  padding: 30px 0;
}
#section .slide .text p {
  font-size: 17px;
  font-weight: 700;
}
