@media screen and (max-width: 1220px) {
  .row {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 990px) {
  #header {
    background-color: #fff;
  }
  #header .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #header .row h1 {
    /* float: left; */
    padding: 10px 0;
  }
  #header .menuopen {
    display: flex;
    align-items: center;
    display: block;
  }

  #header .row #nav {
    /* float: right; */
    display: block;
    width: 100%;
  }
  #header .row #nav > ul.depth1 {
    display: block;
  }

  #header .row #nav > ul.depth1 > li {
    /* float: left; */

    position: relative;
    text-align: center;
    margin-left: 0px;
    display: block;
    align-items: center;
  }

  #header .row #nav ul.depth1 > li > a {
    border-bottom: 1px solid rgba(132, 132, 132, 0.15);
    font-size: 17px;
    font-weight: bold;
    padding: 0 22px 0 16px;
    text-align: left;
    color: #333;
    display: block;
    height: auto;
    line-height: 50px;
  }

  #header .row #nav ul.depth1 > li:hover > ul.depth2 {
    display: block;
  }

  #header .row #nav ul.depth2 {
    display: none;
    position: static;
    top: 100%;
    width: 100%;
    text-align: left;
    z-index: 999;
  }

  #header .row #nav ul.depth1 > li > ul.depth2 > li > a {
    display: block;
    padding: 12px 0 12px 22px;

    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid rgba(132, 132, 132, 0.15);

    background-color: #fff;
    color: #333;

    transition: all 0.3s;
  }

  #header .row #nav ul.depth1 > li > ul.depth2 > li > a:hover {
    background-color: #000;
    color: #fff;
  }

  /* 홈메인 */

  #section .homemain .textbox {
    position: absolute;
    display: inline-block;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #section .homemain .textbox h2 {
    display: inline;
    font-size: 19px;
    padding: 20px 0;
  }
  #section .slick-current.slick-active.slide .textbox h2 {
    animation: fadeInLeft 1s 1 both 0.3s;
  }
  #section .homemain .textbox p {
    font-size: 13px;
    font-weight: 600;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  #section .homemain .slide {
    position: relative;
    height: 70vw;
  }

  /* about */
  #section .about .imagebox {
    display: block;
    width: 100%;
  }

  #section .about .imagebox > li {
    /* float: left;
    width: 33.33%; */
    flex: 1;
    padding: 0 16px;
  }
  /* creative */
  #section .creative {
    overflow: hidden;
    display: block;

    padding: 100px 0;
    background: #fafafa;
  }
  #section .creative .videoBox {
    width: 100%;
    flex: 1;
    /* float: left; */
    /* width: 50%; */
  }
  #section .creative .videoBox video {
    width: 100%;
  }
  #section .creative .text {
    /* float: left;
    width: 50%; */
    flex: 1;
    padding: 20px 70px;
  }

  /* business*/
  #section .business {
    padding: 120px 0;
    text-align: center;
  }

  #section .business h2 {
    font-size: 40px;
  }
  #section .business p.text {
    font-size: 15px;
    line-height: 2em;
    margin: 20px 0 80px;
  }
  #section .business ul {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  #section .business ul li {
    /* float: left;
    width: 20%; */
    flex: 0 1 50%;
    padding: 10px;
  }
  #section .business ul li img {
    width: 100%;
  }
  /* best*/

  #section .best {
    background: url(../image/banner04.jpg) right center / cover;
    height: 580px;
    text-align: center;
    padding-top: 100px;
  }

  #section .best h2 {
    font-size: 40px;
  }

  #section .best p {
    font-size: 15px;
    padding: 20px 0 20px;
    line-height: 1.8em;
  }

  /* contact*/

  #section .contact .row {
    /* overflow: hidden; */
    display: block;
  }
  #section .contact .row .map {
    flex: 1;
    width: 100%;
    /* float: left;
    width: 50%; */
  }
  #section .contact .row .query {
    flex: 1;
    /* float: left;
    width: 50%; */
    width: 100%;
    background: #fff;
    height: 450px;
    padding: 50px 0 0 0;
  }
  /* footer */

  #footer {
    border-top: 2px solid #f1f1f1;
    padding: 90px 0;
    margin-top: 50px;
  }

  #footer .row {
    /* overflow: hidden; */
    display: block;
  }

  #footer .btmlogo {
    /* float: left; */
  }
  #footer .btmmenu {
    /* float: right; */
  }
  #footer .btmmenu {
    /* overflow: hidden; */
    position: relative;
  }
  #footer .btmmenu .companyinfo {
    /* float: left; */
    margin-right: 20px;
    flex: 1;
  }

  #footer .btmmenu .companyinfo .addr {
    padding-top: 30px;
    line-height: 1.7em;
  }
  #footer .btmmenu .companyinfo .addr span {
    display: block;
  }
  #footer .btmmenu .companyinfo .addr .slash {
    display: none;
  }
  #footer .btmmenu .companyinfo .ca {
    display: flex;
  }
  #footer .btmmenu .companyinfo .ca a {
    margin: 0 20px 0 0;
    word-break: keep-all;
  }

  #footer .btmmenu .sns {
    /* float: right; */
    margin-left: 0px;
    position: absolute;
    top: 240px;
  }
  #footer .btmmenu .sns a {
    margin: 0 20px 0 0;
    color: gray;
  }
  #footer .btmmenu .sns a:hover {
    color: #0058aa;
  }
}
